*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #42a5f5;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

/* Navigation */
.toggleHidden{
  display: none;
}

nav{
  width: 100%;
  margin-top: 15px;
  background-color: #6B7280;
  border: 5px solid black;

  h1{
    font-size: 36px;
  }

  .menu-toggle{
    padding: 5px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: #246396;
    color: white;
    font-size: 15px;
    font-weight: 500;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;

    &.active{
      display: block;
    }

    li{
      display: flex;
      justify-content: center;
      align-items: center;

      a{
        text-decoration: none;
        background-color: #6B7280;
        padding: 10px 15px;
        border: 3px solid black;
        border-radius: 8px;
        font-weight: bold;
        color: white;
        margin: 10px;
        transition: background-color 0.3s, color 0.3s;
      }
    }
  }
}

@media screen and (min-width: 670px){
    .menu-toggle{
        display: none;
    }
    .toggleHidden{
        display: flex;
    }
    nav{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 80px;
      ul{
        justify-content: space-evenly;
        li{
            justify-content: center;
            a{
                margin: 16px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
      }
    }
}